.log svg
{
  width: 100%;
  height: 100%;
}
.log svg path
{
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}

.outmain {
  width: 80%;
 
  margin-top: 0;
  border-radius: 50px;

}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.log {
  position: relative;
  height: 70vh;
  font-family: clash2;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0px);
  mix-blend-mode: difference;
  flex-direction: column;
 
}

.log h1 {

  font-family: clash3;
  color: white;
  font-size: 128px;
  text-transform: uppercase;
  z-index: 1;
}

.pk{
  position: absolute;
  margin-bottom: 100px;
}

.log h5 {

  font-family: clash2;
  font-size: 38px;
  z-index: 1;
  text-transform: capitalize;
  color: rgb(132, 132, 132);
}
.mainvid{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  z-index: -99;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  
}

.boxblur{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);


 backdrop-filter: blur(10px);
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}


.boxblur2{
  position: absolute;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);

 top: 90%;
 filter: blur(5px);
 
}



@media (max-width: 1000px) {
  .outmain{
    margin-top: 60px;
  }
  .log svg {
  margin-top: 60px;
  }
  .log h5 {
    font-size: 15px;
    margin-top: 30px;
    color: grey;
  }
  .pk{
    width: 100% !important;
  }
}
