.content h2,
h3,
h4 {
  font-family: modernsans;
}
.content p {
  font-family: modernsans;
}

.content {
  padding: 30px;
}

@media (max-width: 500px) {
  .content {
    padding: 0;
  }
}

.section2 {
  margin-top: 150px;
  width: 100%;
  z-index: 999;
}

.section2 h1 {
  font-family: modernsans;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
}
.section3 {
  height: 60vh;
  padding: 300px;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 100px !important;
}
.sec-3 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.quest {
  perspective: 500px;
  margin-bottom: 100px;
}
.quest h1 {
  font-size: 300px;
}
#spinner {
  text-align: center;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
@keyframes depth {
  0% {
    text-shadow: 0 0 rgb(245, 244, 244);
  }
  25% {
    text-shadow: 1px 0 rgb(249, 249, 249), 2px 0 rgb(255, 255, 255),
      3px 0 rgb(243, 242, 242), 4px 0 rgb(252, 252, 252),
      5px 0 rgb(237, 237, 237);
  }
  50% {
    text-shadow: 0 0 rgb(245, 243, 243);
  }
  75% {
    text-shadow: -1px 0 rgb(242, 240, 240), -2px 0 rgb(253, 249, 249),
      -3px 0 rgb(255, 255, 255), -4px 0 rgb(255, 255, 255), -5px 0 black;
  }
  100% {
    text-shadow: 0 0 rgb(255, 255, 255);
  }
}
@keyframes rot {
  0% {
    transform: rotatex(0deg);
  }
  50% {
    transform: rotatex(90deg);
    transform: rotatez(80deg);
  }
  100% {
    transform: rotatex(100deg);
    transform: rotatez(180deg);
  }
}

.section4 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intext {
  fill: rgb(255, 255, 255);
}

.fillit {
  stroke-width: 15px;
  stroke: rgba(255, 255, 255, 0.512);
}
#scale1 {
  stroke-width: 15px;
  animation: scale infinite 3s;
  stroke: rgba(255, 255, 255, 0.512);
}

@keyframes scale {
  from {
    stroke: rgba(255, 255, 255, 0.512);
  }
  to {
    stroke: rgba(0, 0, 0, 0.512);
  }
}

.cout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 70vh;
  overflow: hidden;
}

.motion {
  display: flex;
  flex-direction: row;
}

.inline-flex {
  font-size: 10px;
  display: inline-flex;
  white-space: nowrap;

  width: 800%;
  font-weight: bolder;
  overflow-x: hidden;
}

.box1 {
  position: absolute;
  height: inherit;
  width: 10%;
  background-color: rgba(0, 0, 0, 0.982);
  left: 95%;
  filter: blur(30px);
  z-index: 999;
  margin-bottom: 50px;
}

.box2 {
  position: absolute;
  height: inherit;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.982);
  right: 95%;
  filter: blur(30px);
  z-index: 999;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .section4 svg {
    height: 500px !important;
    width: 500px !important;
  }
  .section3 {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;
  }
  .cout {
    height: 40vh;
  }

  .box1 {
    left: 95%;
  }
}

@media (max-width: 500px) {
  .section4 svg {
    height: 300px !important;
    width: 300px !important;
  }
  .section3 {
    padding: 0;
  }
}

.ssvg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.ssvg svg {
  width: 70%;
  height: 100%;
}

.sli1 {
  position: relative;
  /* Hide the overflowing part of the text */
  width: 100%; /* Set the width of the container */
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}

.sli2 {
  position: absolute;
  top: 20%;
  display: flex;
  overflow: hidden;
  gap: 50px;
  height: 100px;
  animation: autorun linear;
  animation-timeline: view();
}

.sli2 img {
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;

}

@keyframes autorun {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-20%);
  }
}

@media (max-width: 1000px) {
  .ssvg svg {
    height: 100% !important;
    width: 100% !important;
    padding: 0;
  }
}
